{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ camp_name }}{% endblock %}

{% block body_block %}
    <h1>{{ camp_name }}</h1>
        <table class="table table-bordered">
                {% if camp %}
            <thead>
                <tr>
                    <th>Camp Type</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Organising Cost</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{camp.camp_type}}</td>
                    <td>{{camp.date}}</td>
                    <td>{{camp.strt_time}}</td>
                    <td>{{camp.end_time}}</td>
                    <td>{{camp.organising_cost}}</td>
                    <td>{{camp.details}}</td>
                </tr>
                {% else %}
                    The specified camp {{ camp_name }} does not exist!
                {% endif %}
            </tbody>
        </table>
    <h3>About</h3><br/>
    <p>-</p>
{% endblock %}