{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ fund_name }}{% endblock %}

{% block body_block %}
    <h1>{{ fund_name }}</h1>
        <table class="table table-bordered">
                {% if fund %}
            <thead>
                <tr>
                    <th>Source</th>
                    <th>Receiving Date</th>
                    <th>Amount</th>
                    <th>Net Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{fund.source}}</td>
                    <td>{{fund.receiving_date}}</td>
                    <td>{{fund.amount}}</td>
                    <td>{{fund.net_bal}}</td>
                </tr>
                {% else %}
                    The specified fund {{ fund_name }} does not exist!
                {% endif %}
            </tbody>
        </table>
    <h3>About</h3><br/>
    <p>-</p>
{% endblock %}