{% extends 'base.html' %}

{% load staticfiles %} 

{% block title %}Home{% endblock %}

{% block body_block %}
        <h2>National Service Scheme</h2>
        {% if user.is_authenticated %}
            <div class="page-header">
                {% endif %}
            </div>
            <div>
                <p align="justify" style="line-height:24px;">
                National Service Scheme, under the Ministry of Youth Affairs & Sports Govt. of India, popularly known as NSS was launched in Gandhiji's Birth Centenary Year 1969, in 37 Universities involving 40,000 students with primary focus on the development of personality of students through community service. Today, NSS has more than 3.2 million student volunteers on its roll spread over 298 Universities and 42 (+2) Senior Secondary Councils and Directorate of Vocational Education all over the country. From its inception, more than 3.75 crores students from Universities, Colleges and Institutions of higher learning have benefited from the NSS activities, as student volunteers.
                </p>
            </div>
        <!--
        <div class="row placeholders">
            <div class="col-xs-12 col-sm-6 placeholder">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Volunteers</h4>
                    </div>
                </div>
                {% if volunteers %}
                    <ul class="list-group">
                        {% for volunteer in volunteers %}
                        <li class="list-group-item">
                            <a href="{% url 'volunteer' volunteer.slug %}">{{ volunteer.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>There are no volunteer present.</strong><br/>
                {% endif %}
            </div>
        </div>
        -->
{% endblock %}
