{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body_block %}
        <h1>National Service Scheme</h1>
        <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

        <!--<form id="login_form" method="post" action="/nss/login/">-->
        <form id="form-signin" role="form" method="post" action=".">
            {% csrf_token %}
            <h3 class="form-signin-heading">Please sign in</h3>
            Username:
            <input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
            Password:
            <input class="form-control" placeholder="Password" id="id_password" name="password" type="password" required />
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" />Sign in</button>
        </form>
{% endblock %}